$string-color: #55bb8a;
$language-keyword-color: #619ac3;
$global-variable-color: #ba2f7b;
$unused-opacity: 0.4;
$normal-text-color: #000000;
$grammar-color: #57c3c2;
$jsx-tag-symbol-color: $language-keyword-color;
$jsx-tag-color: $global-variable-color;
$jsx-attribute-color: #ffa60f;
$jsx-text-color: #a0a0a0;

.monaco-editor { position: absolute !important; }
